@font-face {
  font-family: 'BMJUA';
  src: url('../fonts/BMJUA.ttf');
}
@font-face {
  font-family: 'CuteFont-Regular';
  src: url('../fonts/CuteFont-Regular.ttf');
}
@font-face {
  font-family: 'NanumBrushScript-Regular';
  src: url('../fonts/NanumBrushScript-Regular.ttf');
}
@font-face {
  font-family: 'NanumPenScript-Regular';
  src: url('../fonts/NanumPenScript-Regular.ttf');
}
@font-face {
  font-family: 'SingleDay-Regular';
  src: url('../fonts/SingleDay-Regular.ttf');
}
.letter_container{
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
.letter_back{
  width: 500px;
  min-width: 500px;
  height: 700px;
}
.letter_write{
  width: 300px;
  min-width: 200px;
  height: 700px;
  margin-left: 10px;
}
.letter_back > div{
  position: relative;
  top: 105px;
  left: 75px;
  width: 347px;
  height: 504px;
  overflow: hidden;
  line-height: 2.25;
}
a{
  cursor: pointer;
}
html,body { 
  background-color: #812625;
}
#container{
  padding: 0;
}
#app{
  background-color: #812625;
  min-height: 100%;
}
span{
  font-family: serif;
  color: rgb(247, 238, 238);
  font-weight: 600;
}
.logo{
  cursor: pointer;
  margin: 10px auto;
  font-family: serif;
}
.logo > h1{
  font-size: 30px;
  font-weight: bold;
  color: rgb(247, 238, 238);
}
img.paper.img-thumbnail {
  margin: 15px;
  width: 200px;
  padding: 0;
  filter: drop-shadow(10px 10px 10px black);
}
img.paper.img-thumbnail:hover {
  filter: drop-shadow(15px 15px 15px black);
}
.p-4.paper.container-fluid{
  text-align: center;
}
.writeBtn{
  margin-top: 5px;
}
#texta{
  overflow: hidden; 
  outline: none; 
  resize: none;
  width: 345px;
}
#ptag{
  word-break: break-all;
  position: absolute;
  top: 0px;
  width: 345px;
}
@media screen and (max-width: 800px){
  #ptag{
    width: 290px;
  }
  .letter_container{
    padding-top: 60px;
    display: block;
  }
  .letter_back{
    width: 400px;
    min-width: 400px;
    height: 560px;
    background-size: contain;
    margin: 0 auto;
  }
  .letter_write{
    width: 300px;
    min-width: 200px;
    height: 700px;
    margin: 0 auto;
  }
  .letter_back > div{
    position: relative;
    top: 82px;
    left: 58px;
    width: 290px;
    height: 400px;
    overflow: hidden;
    line-height: 2.25;
    font-size: 13.2px;
  }
  img.paper.img-thumbnail {
    width: 150px;
    margin: 10px;
  }
  #texta{
    height: 399px;
    width: 290px;
  }
}
@media screen and (max-width: 450px){
  .letter_container{
    padding-top: 60px;
    display: block;
  }
  .letter_back{
    width: 311px;
    min-width: 311px;
    height: 459px;
    background-size: contain;
    margin: 0 auto;
  }
  .letter_back > div{
    position: relative;
    top: 67px;
    left: 47px;
    width: 230px;
    height: 307px;
    overflow: hidden;
    line-height: 2.2;
    font-size: 10.4px;
  }
  img.paper.img-thumbnail {
    width: 150px;
    margin: 10px;
  }
  #texta {
    width: 220px;
    height: 307px;
  }
  #ptag{
    width: 220px;
  }
}

#main {
  width: 378px;
  background-size: auto;
  height: 720px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
}
#mainBtn{
  position: relative;
  top: -390px;
  padding: 10px;
  background-color: rgba(240, 248, 255, 0);
  color: rgb(68, 68, 68);
  font-family: serif;
  font-weight: bold;
  border-radius: 0;
  border: 2px solid rgb(68, 68, 68);
}
#mainBtn:hover{
  background-color: rgb(253, 207, 137);
}
#explain{
  width: 295px;
  height: 125px;
  margin: 0 auto;
}
